.Todo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: .5rem;
    border-bottom: 1px solid rgba(0,0,0,.2);

    input {
        margin-right: .4rem;
    }

    button {
        margin-left: auto;
        background-color: crimson;
        padding: .5rem;
        color: #fff;
    }
}